{% extends "./base.html"%} {% block title %} Home {% endblock %} 
{% block body %}


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <h3 class="text-secondary">Datos pieza de madera</h3>
      <div class="card">
        <div class="card-body">
          <form action="/calcularValorPieza/" method="POST">{% csrf_token %}
            <div class="form-group">
              <label for="" class="form-label">Tipo de Madera</label>
              <select name="tipoMadera" id="tipoMadera" class="form-control mb-3">
                {% for item in listaTiposMadera %}
                <option value="{{item.idTipoMadera}}">{{item.nombre}}</option>
                {% endfor%}
              </select>
            </div>
            <div class="form-group">
              <label for="txtAlto" class="form-label">Alto (En pulgadas)</label>
              <input
                type="text"
                name="txtAlto"
                id="txtAlto"
                class="form-control mb-3"
                maxlength="100"
                required
              />
            </div>
            <div class="form-group">
              <label for="txtAncho" class="form-label">Ancho (En pulgadas)</label>
              <input
                type="text"
                name="txtAncho"
                id="txtAncho"
                class="form-control mb-3"
                maxlength="100"
                required
              />
            </div>
            <div class="form-group">
              <label for="txtLargo" class="form-label">Largo (En pulgadas)</label>
              <input
                type="text"
                name="txtLargo"
                id="txtLatgo"
                class="form-control"
                maxlength="100"
                required
              />
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary mt-3">Calcular</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <h4 class="card-title text-center text-secondary mb-3">
        Lista de Piezas de Madera
      </h4>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table align-middle">
              <thead>
                <tr>
                  <th scope="col">Tipo Madera</th>
                  <th scope="col">Alto</th>
                  <th scope="col">Ancho</th>
                  <th scope="col">Largo</th>
                  <th scope="col">Valor Pieza</th>
                  <th class="text-center" scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="text-secondary">
                {% for pieza in listaPiezas %}
                <tr>
                  <td>{{ pieza.tipoMadera.nombre }}</td>
                  <td>{{ pieza.alto }}</td>
                  <td>{{ pieza.ancho}}</td>
                  <td>{{ pieza.largo}}</td>
                  <td>${{ pieza.valorPieza}}</td>
                  <td>
                    <a
                      name="btn-editar"
                      id="btn-editar"
                      class="btn btn-info"
                      href="#"
                      role="button"
                      >Editar</a
                    >
                    |
                    <a
                      name="btn-borrar"
                      id="btn-borrar"
                      class="btn btn-danger"
                      href="#"
                      role="button"
                      >Borrar</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
